<div id="footer">
    <p>© Reboot 2026 — Copyleft Sebastien.C. Licence du site :
        <a href="https://www.gnu.org/licenses/fdl.html" rel="nofollow">GNU Free Documentation License</a>.
    </p>
    <p>
        <a href="https://passiongnulinux.free.nf" title="PassionGNU/Linux">PassionGNU/Linux</a>
        — La passion du libre…
    </p>
    <p>
        Blog généré avec <a class="footer-logo-link" href="https://github.com/Passionlinux/sebashblog"><img class="footer-logo" src="/images/icons/sebashblog-logo.svg" alt="SebashBlog" /></a>
        et hébergé par <a href="https://www.infinityfree.com/">InfinityFree</a>.
    </p>
</div>
